<div class="products-list-wrapper">
    <% if (cart.length <= 0) { %>
    <tr>
        <td colspan="3">No añadió ningún producto al carrito.</td>
    </tr>
    <% } else { %>
        <div><b>Nuevo pedido realizado</b></div>
        <table class="tg" style="width: 100%; text-align:left">
            <thead>
              <tr>
                <th class="tg-0pky">Imágen</th>
                <th class="tg-0pky">Nombre</th>
                <th class="tg-0pky">Precio</th>
                <th class="tg-0pky">Código</th>
              </tr>
            </thead>
            <tbody>
                <% cart.forEach(function(cartProduct) { %>
                    <tr>
                        <td class="tg-0pky"><img style="width: 100px" src=<%= cartProduct.thumbnail %> /></td>
                        <td class="tg-0pky"><p><%= cartProduct.title %></p></td>
                        <td class="tg-0pky"><p><%= cartProduct.price %></p></td>
                        <td class="tg-0pky"><p><%= cartProduct.codigo %></p></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
</div>