<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title>Coderhouse Backend - Ecommerce</title>
    </head>
    <body>
        <div class="container">
            <%- include('../partials/header'); %>
            <div id="products">
                <%- include('../partials/cartList'); %>
            </div>
        </div>
    </body>
    <script src="main.js"></script>
</html>