<header class="navbar animate__headShake">
    <div class="brand focus-in-expand">Animista</div>
    <div class="main-menu">
        <ul>
            <li>Productos</li>
            <li>Carrito</li>
        </ul>
        <div>
            <ul>
                <li>
                    <% if (user) { %>
                        <div class="user">
                            <% if (image) { %>
                                <img src="profiles/img/<%= image %>" />
                            <% } %>
                            <p><%= user %><p>
                        </div>
                    <% } %>
                </li>
                <li><a href="/logout">Salir</a></li>
            </ul>
        </div>
    </div>
</header>