<header class="navbar animate__headShake">
    <div class="brand focus-in-expand"><a href="/">Animista</a></div>
    <div class="main-menu">
        <ul>
            <li><a href="/">Productos</a></li>
            <li><a href="/cart">Carrito</a></li>
        </ul>
        <div>
            <ul>
                <li>
                    <% if (user) { %>
                        <div class="user">
                            <% if (image) { %>
                                <img src="profiles/img/<%= image %>" />
                            <% } %>
                            <p><a href="/user"><%= user %></a><p>
                        </div>
                    <% } %>
                </li>
                <li><a href="/logout">Salir</a></li>
            </ul>
        </div>
    </div>
</header>